<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>USER</title>
</head>
<body>
<h1>USER</h1>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
        </tr>
        <tr>
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getName()}"></td>
        </tr>
    </table>
    <br/>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>