<header th:fragment="header">
    <div class="container-fluid" style="padding: 0">
        <div class="row-cols-auto">
            <div class="col-12">
                <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
                    <div class="collapse navbar-collapse" id="admin">
                        <div style="padding-left: 15px">
                            <div class="navbar-nav mr-auto mb-auto mb-lg-0">
                <span class="navbar-brand text-center fw-bold" style="margin-right: 7px"
                      th:utext="${admin.name}">admin</span>
                                <span class="navbar-brand">with roles:</span>
                                <span class="navbar-brand" style="margin-left: -10px"
                                      th:each="role : ${admin.roles}"
                                      th:text="${role}">role</span>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav float-lg-right" style="padding-right: 15px">
                        <div class="nav-item">
                            <form th:action="@{/logout}" th:method="POST">
                                <button type="submit" class="btn btn-dark text-right" style="color: gray">Logout
                                </button>
                            </form>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>